
@keyframes flash{
	from{opacity: 1;
		top: 0px;}
	to {opacity: 0;
		top: 10px;}
}
.flash{
	position:relative;
	font-size: 100px;
	animation-name: flash;
	animation-duration: 0.5s;
	animation-iteration-count: infinite; 
	animation-direction: alternate-reverse;
	color: white;
}

