nav{
	background-color: #444!important;
	height: 40vh;
	transition: box-shadow .3s linear, height .3 linear
}
.nav-shadow{
	box-shadow: 0px 10px 15px #0005;
}
nav img{
	transition: height .1s linear;
}


.smallnav{
	height:120px;

}