
@keyframes appear{
	0%{ 
		opacity: 0; 
		margin-top: -50px;
	}
	100%{ 
		opacity: 1;
		margin-top: 0px;
	}
}
.appear{
	animation-name: appear;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes skills{
	0%{ 
		transform: scale(0);
		opacity: 0; 
		margin-top: -50px;
	}
	100%{ 
		transform: scale(1);
		opacity: 1;
		margin-top: 0px;
	}
}
.skills{
	animation-name: skills;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
