body{
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family:  'Encode Sans Expanded';
}
#header,#first,#second,#third,#fourth{
	width: 100%;
	height: 100vh;
}
#navigation{
	width: 100%;
}
a{
	color: white;
	text-decoration: none;
}
hr{
	padding: 0px;
	margin:0px;
	border-color: black;
}
div{
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/*header*/
	#header{
		background-color: black;
		text-align: center;
	}
	#header div{
		width: 75%;
		margin: auto;
	}
	#header h1{
		font-size: 5em;
		top: 50px;
		left: 10px;
		position: fixed;
		transition: ease-out .5s margin;
	}
	#header div p{
		text-align: right;
	}
	#arrow-down{
		position: absolute;
		bottom:0;
		align-self: center;
	}
	.text-green{
			color:green;
		}
		.text-orange{
			color: orange;
		}
		.text-lblue{
			color: lightblue;
		}
/*nav*/
	#navigation{
		position: fixed;
		height: 0px;
		z-index: 999;
		width: 100%;
		background-color: black;
		top: 0;
		overflow: hidden;
		flex-direction: column;
		text-align: center;
	}
	#navigation h1{
		font-size: 5em;
		margin-bottom: 0px;
		left: 10px;
		width: 100%;
		transition-delay: 0.1s;
		transition: ease-in 0.1s margin;
	}

	#navigation div{
		width: 100%;
		height: auto;
		display: inline-block;
		transition-delay: 5s;
		transition: ease-in 3s width;
	}
	#navigation #nav{
		margin: auto;
		flex-direction:row;
		text-align: right;
		display: none;
		transition: ease-in 2s margin;
		transition-delay: 1s;
	}
	#nav a{
		padding: 0px 10px;
	}
	.disappear{
		font-size: 1em;
	}

/*data*/
	#first{
		background-color:  #038DFF;
		justify-content: center;
		align-items: center;
	}
	#first div{
		display: block;
		width: 75%;
		text-align: center;
		opacity: 0;
	}
	#first div img{
		width: 40%;
		border-radius: 100px;
	}
/*skills set*/
	#second{
		background-color: #3AA6FF;
	}
	#second div, #third div{ 
		text-align: center;
	}
	#second div{
		width: 50%;
		float: left;
		opacity: 0;
	}
	#second h1 i{
		font-weight: normal;
		padding: 15px 45px;
		font-size: 60px;
		color: white;
		transition: ease-out 1s transform, ease-in-out 1s color;
	}
	#second h1 i:hover, #bottom i:hover{
		color: #FFaa00;
		transform: scale(1.2)
	}
/*portfolio*/
	#third{
		background-color: #67B9FD;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	#portfolio{
		width: 800px;
		align-items: center;
		margin-right: 80px;
		opacity: 0;
	}
	#carousel-container,#carousel{
		width: 800px;
		height: 600px;
	}
	#carousel{
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
	}

	#carousel img{
		width: 800px;
		height: 600px;
	}
	#carousel a div{
		position: relative;
		width: 800px;
		height: 600px;
		overflow: hidden;
	}
	#carousel a .description{
		position: absolute;
		width: 800px;
		height: 0px;
		bottom: 0px;
		z-index: 10;
		background-color: black;
		opacity: 0.6;
		overflow: hidden;
		transition: ease-in-out 2s height;
	}

	#carousel a div ul{
		list-style: none;
	}
	#left, #right{
		display: block;
		position: absolute;
		width: 100px;
		height: 600px;
		z-index: 5;
		opacity: 0.3;
		transition: ease-out 1s opacity;
	}
	#right{
		background: linear-gradient(to left, grey, transparent);
		right: 0;
		
	}
	#left{
		background: linear-gradient(to right, grey, transparent);
	}
	#left:hover, #right:hover{
		opacity: 0.8;
	}
/*descripion*/
	#fourth{
		background-color: #A7D1F3;
		text-align: center;
		font-size: 1em;
	}
	#fourth div{
		width: 65%;
		color: black;
		margin: auto;
	}
/*bottom*/
	#bottom{
	background-color: #070809;
	text-align: center;
	}
	#bottom i{
		font-size: 25px;
		padding: 20px;
		transition: ease-in 1s color, ease-in 1s transform;
	}
/*extra*/
	.d-none{
		display: none;
	}
	.text-white{
		color: white;
	}
	.text-green{
		color:green;
	}
	.text-orange{
		color: orange;
	}
	.text-lblue{
		color: lightblue;
	}
	.text-custom-1{
		color: #C40049;
	}
	.text-custom-2{
		color: #423B41;
	}
@media (hover: none) {
	#left, #right{
		opacity:1;
	}
	div{
		width: 100%!important;
	}
	#skills h1{
		margin: 0px;
	}
	#carousel-container, #carousel, #left, #right{
		height: 500px!important;
	}
	.description{
		position: absolute;
		width: 800px;
		height: 200px!important;
		bottom: 0px;
		z-index: 10;
		background-color: black;
		opacity: 0.6;
		overflow: hidden;
		transition: ease-in-out 2s height;
	}
	h1{
	 	font-size: 1em;
	 	text-align: center!important;
	 }
	 #header h1{
	 	font-size: 2em!important;
	 	text-align: center!important;
	 }
	 	#third{
		background-color: #67B9FD;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#portfolio{
		width: 100%;
		align-items: center;
		margin: 0px;
	}
	#carousel-container{
		width: 100%;
	}

	#carousel a div ul{
		list-style: none;
	}
	#left, #right{
		display: block;
		position: absolute;
		width: 100px!important;
		height: 600px;
		z-index: 5;
		opacity: 0.3;
		transition: ease-out 1s opacity;
	}
	#right{
		background: linear-gradient(to left, grey, transparent);
		right: 0;
		
	}
	#left{
		background: linear-gradient(to right, grey, transparent);
	}
	#left:hover, #right:hover{
		opacity: 0.8;
	}
	#fourth{
		font-size: 14px
		padding-bottom: 80px;
	}
}
@media(max-width: 320px){
	#navigation h1{
		font-size: 1em!important
	}
	#skills h1 i{
		font-size: 30px
	}
}
